<h1>About</h1>
<p>My name is Julia. Cacti are my hobby. </p><p>I have been growing these plants for many years and finding it very exciting and satisfying when I see thier beautiful blossom. </p>
<p>I would like to share with you my joy and my knowledge about growing these very beautiful plants!</p>
<p> You can see photos of my plants in my gallery page and read my tips on the faq page.</p>
<p> As I grow some plants from seeds, usually I end up with a few cacti of the same species so I sell them as well.</p>

