<div id="faq" >
<h1>General tips for beginners.</h1>
<%#=image_tag("Acantocalycium_violaceum.jpg", width: "350px", alt: "Acantocalycium violaceum")%>
<!--<img src="images/Mam_gracilis.jpg" width=350 style="margin: 25px;"/> -->

<!-- accordion plugin -->
<div class="container fluid">
<p> Click on the topic to read some help information about it</p>
<div class="panel-group" id="accordion" role="tablist" aria-multiselectable="true">
  <div class="panel panel-default">
    <div class="panel-heading" role="tab" id="headingOne">
      <h3 class="panel-title">
        <a role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
        	<span class="glyphicon glyphicon-question-sign"></span>
          How to water?
        </a>
      </h3>
    </div>
    <div id="collapseOne" class="panel-collapse collapse in" role="tabpanel" aria-labelledby="headingOne">
      <div class="panel-body">
        First of all - it is better to give less water than more.
				If you are not sure, don't water your plants.<br> 
				Before watering, check that the soil is completely dry. 
				You can simply push a cocktail stick into the soil, if it remains dry, it's safe to water.
				Please don't pour water on any parts of the plant,
 				they don't like it. Try to add water next to the edge of the pot.<br>
 				To have flowers in spring, they need a dry and cold winter, at his time of the year they rest, 
				sort of hibernate. I don't water my plants from late October till April.

      </div>
    </div>
  </div>
  <div class="panel panel-default">
    <div class="panel-heading" role="tab" id="headingTwo">
      <h3 class="panel-title">
        <a class="collapsed" role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
        	<span class="glyphicon glyphicon-question-sign"></span>
          Which pot would be the best for a cactus? 
        </a>
      </h3>
    </div>
    <div id="collapseTwo" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingTwo">
      <div class="panel-body">
        From my experience- plastic square pots with lots of holes in the bottom.
				Ceramic pots are bad, because they keep soil humid. Choose square pots because they save space, for a big collection it's critical.
      </div>
    </div>
  </div>
  <div class="panel panel-default">
    <div class="panel-heading" role="tab" id="headingThree">
      <h3 class="panel-title">
        <a class="collapsed" role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
        	<span class="glyphicon glyphicon-question-sign"></span>
          When to replant?
        </a>
      </h3>
    </div>
    <div id="collapseThree" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingThree">
      <div class="panel-body">
        Better in spring or summer but you can do it when the pot is getting too tight. The next pot should be just a little wider.
				Good to have about 1 cm between the plant and the edge of the pot.
      </div>
    </div>
  </div>
  <div class="panel panel-default">
    <div class="panel-heading" role="tab" id="headingFour">
      <h3 class="panel-title">
        <a class="collapsed" role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseFour" aria-expanded="false" aria-controls="collapseFour">
        	<span class="glyphicon glyphicon-question-sign"></span>
          Where to keep your cacti?
        </a>
      </h3>
    </div>
    <div id="collapseFour" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingFour">
      <div class="panel-body">
        If you have a choice, choose a greenhouse. Cacti are not really for a windowsill, they can survive there, but you won't be able to get so many flowers and in some cases no flowers at all. If you have a conservatory it is a better place for them.
				<br>I keep my cacti outside in a greenhouse all year round with a small heater to keep the temperature slightly above 0C.
				From my experience between 3C and 5C is perfect for most cacti through the winter months.
				Apart from heating you get another added bonus with a heater, the humidity level is decreased which is 
				very important in winter. Most cacti can't survive in cold humid conditions.
      </div>
    </div>
  </div>
  <div class="panel panel-default">
    <div class="panel-heading" role="tab" id="headingFive">
      <h3 class="panel-title">
        <a class="collapsed" role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseFive" aria-expanded="false" aria-controls="collapseFour">
        	<span class="glyphicon glyphicon-question-sign"></span>
          What soil to use?
        </a>
      </h3>
    </div>
    <div id="collapseFive" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingFive">
      <div class="panel-body">
        Cacti need a special soil mix, most good garden centres sell cactus soil, I use it, but first sterilize it and add 
				some vermiculit. Why to sterialize? To kill potential pests which could be in the soil. I also add fine river sand to the cactus soil because water should go through and should not stay in a cactus pot. Make sure you don't use sea sand, which is bad for cacti.
      </div>
    </div>
  </div>
  <div class="panel panel-default">
    <div class="panel-heading" role="tab" id="headingSix">
      <h3 class="panel-title">
        <a class="collapsed" role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseSix" aria-expanded="false" aria-controls="collapseSix">
        	<span class="glyphicon glyphicon-question-sign"></span>
          How about light?
        </a>
      </h3>
    </div>
    <div id="collapseSix" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingSix">
      <div class="panel-body">
        Natural light is essential and if you have a greenhouse it will be the best place for cacti to live. 
				Some plants such as Rebutia and Sulcorebutia tend to stretch and can look unnatural with lack of light.
      </div>
    </div>
  </div>
  <div class="panel panel-default">
    <div class="panel-heading" role="tab" id="headingSeven">
      <h3 class="panel-title">
        <a class="collapsed" role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseSeven" aria-expanded="false" aria-controls="collapseSeven">
        	<span class="glyphicon glyphicon-question-sign"></span>
          Where to buy cacti?
        </a>
      </h3>
    </div>
    <div id="collapseSeven" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingSeven">
      <div class="panel-body">
        If you buy cacti in a garden centre, I would recommend to replant it 
				immediately in your own soil mix. Doing this you can explore the roots and find the main pests - root mealy bugs, they look like small white patches. They spread quite quickly and you would need insecticide to get rid of them.
				Unfortunately most cacti from garden centres have these pests, but luckily the same garden centres sell a lot of insecticides! 
				You can also buy cacti from private collectors which often grow cacti from seeds and keep plants clean from pests.
      </div>
    </div>
  </div>
</div>
</div>

</div>
