<h1>Welcome to my cactus site!</h1>
<p>I would like to share with you my joy and my knowledge about growing these very beautiful plants!</p>
<p> You can see photos of my plants in my gallery page and read my tips on the faq page.</p>
<p> As I grow some plants from seeds, usually I end up with a few cacti of the same species so I sell them as well.</p>
<%#test_variable = 42 %>
<%#= test_variable -2 %>
