<div class="product_pages">
  <p id="notice"><%= notice %></p>

  <h1>Your orders</h1>


  <% @orders.each do |order| %>
        <div class="row">
          <p><%= order.user.email %>
          <%= order.product.name %>
          <%= order.total %></p>
        </div>
    <% end %>

  
</div>