// Place all the styles related to the products controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/



a, a:visited {
	color: #666;
}

.product_pages, .user_pages, .authentication_pages{
	background-image: url("/assets/cacti-bg.jpg");
	background-repeat: no-repeat;
  background-size: cover;
  position: relative;
  height: 1080px;
  /* margin-top: -10px; */
}

.product_show_page{
	background-color: #dfe8d3;
  margin-top: -10px; 
}



.product_image{
	margin: 15px;
	min-width: 120px;
	min-height: 380px;
	background: white;
	
}


.table_header{
	color: white;
  text-transform: uppercase;
  letter-spacing: 0.05em;
  padding: 10px;
  
}

#products_table{
	margin: 20px auto;
}

td,th{
	border: 1px solid white;
	color: white;
	font-size: 15px;
	height: 60px;
}

.new_product, .edit_product{
	margin: 20px;

	input[type=text]{
		width: 250px;
	}
}

label {
	color: black;
}

.product_link {
	margin-top: 10px;
	a, a:visited {
		margin: 20px;
		color: grey;
		font-size: 1.3em;
	}
}

#product_description{
	width: 250px;
	height: 170px;
}

p.product_show{
	text-align: left;
	color: black;
}

#cart_content{
	margin: 20px auto;
	display: block;
}

#clear_cart_button{
	float: right;
}

#order_total{
	font-size: 18px;
	font-weight: bold;
	margin-left: 20px;
}

.order_row{
	margin: 20px;
}
