// Place all the styles related to the static_pages controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

$font-stack: Indie Flower,cursive;

body {
	padding-top: 50px;
	background-color: black;
  
}

#contact, #faq
{
	background-image: url("/assets/cacti-bg.jpg");
	background-repeat: no-repeat;
  background-size: cover;
  position: relative;
  height: 1080px;
  margin-top: -20px;
}

h1{
  display: block;
	font-family: $font-stack;
	font-weight: 700;
	font-size: 3em;
	text-align: center;
	padding-top: 10px;
}

.navbar-brand{
	padding: 5px 15px;
}

nav{
	background-color: rgba(171, 189, 101, 0.6);
}

.navbar {
	height: 50px;
	background-color: rgba(171, 189, 101, 0.6);

	ul{
	float: right;
	 	li{
  		list-style-type: none;
  		padding: 0.1em;
  		font-weight: 400;
			font-size: 1.5em;

			a { 
				text-decoration: none; 
				color: black;
			}
		}
	}
}

.navbar-collapse{
	
}

.navbar-default .navbar-nav>li>a {
	color: #615454;
}

ul li{
  display: inline-block;
  list-style-type: none;
  padding: 1em;
  font-weight: 400;
  font-size: 1.5em;
}
ul li a { 
  text-decoration: none; 
}

footer {
	font-size: 1.3em;
	font-weight: 700;
	color: #d5c7ea;
	position: fixed;
	bottom: 15px; 
	width: 100%;
	padding: 40px;
	text-align: center;

}

p{
	font-size: 1.2em;
	color: #67673a; /* #eaeac0; */
  text-align: center;
}

html, body {
  height: 100%;
  /* overflow-y:hidden; */
}

.page-wrap {
  min-height: 100%;
  /* equal to footer height */
  margin-bottom: -85px; 
}

.page-wrap:after {
  content: "";
  display: block;
}

.site-footer, .page-wrap:after {
  height: 85px; 
  padding: 20px 0px;
}

.panel-default>.panel-heading{
	background-color: #b9daa9;
	font-family: $font-stack;
}


