
  // Place all the styles related to the users controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.form-signin{
		max-width: 330px;
    padding: 15px;
    margin: 0 auto;

    a {
    	color: white;
    }
	
}
.alert{
	padding: 0px;
}



.hello_user, .login_link{
	font-size: 14px;
	font-weight: bold;
	padding: 0px 15px;
}

.nav>li>a.login_link{
		padding: 0px 15px;
	}

