<div class="shop_pages">
  <p id="notice"><%= notice %></p>

  <h1>Cacti for sale</h1>


  <div class="container">
    <div class="row">
      <%= render @products %>
    </div>
  </div>
  

  <div class="product_link">
    <%= link_to 'New Product', new_product_path %>
  </div>
</div>